<a href="https://colab.research.google.com/github/LeodeFaria/idp_engenhariadados/blob/main/notebooks/Aula2_Exercicios_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tutorial de SQL no Colab

#### Instale os pacotes para trabalhar com bancos de dados no colab

In [ ]:
#!pip uninstall sqlalchemy # ORM for databases
!pip install ipython-sql # SQL magic function

Found existing installation: SQLAlchemy 1.4.20
Uninstalling SQLAlchemy-1.4.20:
  Would remove:
    /usr/local/lib/python3.7/dist-packages/SQLAlchemy-1.4.20.dist-info/*
    /usr/local/lib/python3.7/dist-packages/sqlalchemy/*
Proceed (y/n)? y
  Successfully uninstalled SQLAlchemy-1.4.20
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (2.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (5.5.0)
Collecting sqlalchemy>=0.6.7
  Downloading SQLAlchemy-1.4.22-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 5.0 MB/s
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.2.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.6.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.5.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.7.4.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.4.22

#### Faça o download do arquivo de banco de dados world.sqlite

In [ ]:
!wget https://github.com/alexlopespereira/idp_engenhariadados/raw/main/data/originais/world/world.sqlite
!ls .

--2021-08-06 03:03:52--  https://github.com/alexlopespereira/idp_engenhariadados/raw/main/data/originais/world/world.sqlite
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/alexlopespereira/idp_engenhariadados/main/data/originais/world/world.sqlite [following]
--2021-08-06 03:03:52--  https://raw.githubusercontent.com/alexlopespereira/idp_engenhariadados/main/data/originais/world/world.sqlite
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20480 (20K) [application/octet-stream]
Saving to: ‘world.sqlite.1’

world.sqlite.1      100%[===================>]  20.00K  --.-KB/s    in 0.001s

2021-08-06 03:03:52 (35.3 MB/s) - ‘world.sqlite.1’ saved [20480/20480]

sample_data  world.sqlite  world.sqlite.1

In [ ]:
# Habilitar a extensão SQL
%load_ext sql
# Conectar com o banco de dados
%sql sqlite:////content//world.sqlite

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @/content//world.sqlite'

In [ ]:
# Exemplo de query
result = %sql select * from world limit 3
result

 * sqlite:////content//world.sqlite
Done.

[('1', 'United States', '19,485,394,000,000', '2.27', '325,084,756', '59.94', '24.08', ''),
 ('2', 'China', '12,237,700,479,375', '6.90', '1,421,021,791', '8.61', '15.12', ''),
 ('3', 'Japan', '4,872,415,104,315', '1.71', '127,502,725', '38.21', '6.02', '')]

In [ ]:
# Exemplo de Query em multiplas linhas
%%sql result_set << 
SELECT Country, GDP2017
FROM world
LIMIT 3

 * sqlite:////content//world.sqlite
Done.
Returning data to local variable result_set

In [ ]:
result_set

[('United States', '19,485,394,000,000'),
 ('China', '12,237,700,479,375'),
 ('Japan', '4,872,415,104,315')]

In [ ]:
# Curiosidade: Transformar o resultado num datafram
result_set.DataFrame()

         Country             GDP2017
0  United States  19,485,394,000,000
1          China  12,237,700,479,375
2          Japan   4,872,415,104,315

## Exercícios de SQL

#### 2.1) Utilizando a base de dados SQLite world disponibilizada, calcule a média e a soma da população de todos os registros da tabela world.

#### 2.2) Utilizando a base de dados SQLite world disponibilizada, calcule a média e a soma da população de todos os registros da tabela world do continente de Africano.

#### 2.3) Utilizando a base de dados SQLite world disponibilizada, retorne a máxima população do continente do Europeu.

#### 2.4) Utilizando a base de dados SQLite world disponibilizada, calcule a média da população dos continentes cujo nome começa com a letra A.

#### 2.5) Utilizando a base de dados SQLite world disponibilizada, retorne os nomes dos continentes, sem repetições.

#### 2.6) Utilizando a base de dados SQLite world disponibilizada, conte a quantidade de continentes, sem repetições.